{port_specs, [
    {"priv/fejson.dll", ["c_src/*.cpp"]}
]}.

{port_env, [
	{"win32", "CXXFLAGS", "$CXXFLAGS /std:c++17 /LD /MD /O2 /DNDEBUG /I C:\\Users\\razpe\\projects\\vcpkg\\installed\\x64-windows\\include"},
	{"win32", "LDFLAGS", "$LDFLAGS C:\\Users\\razpe\\projects\\vcpkg\\installed\\x64-windows\\lib\\simdjson.lib"}
]}.

{pre_hooks, [{"", compile, "escript enc compile"}]}.
{post_hooks, [{"", clean, "escript enc clean"}]}.